[submodule "Vortex-Engine/vendor/imgui"]
	path = Vortex-Engine/vendor/imgui
	url = https://github.com/vitriol1744/imgui
	branch = docking
[submodule "Vortex-Engine/vendor/glm"]
	path = Vortex-Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vortex-Engine/vendor/OpenAL"]
	url = https://github.com/kcat/openal-soft
