[submodule "Vortex-Engine/vendor/fmt"]
	path = Vortex-Engine/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Vortex-Engine/vendor/magic_enum"]
	path = Vortex-Engine/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "Vortex-Engine/vendor/glm"]
	path = Vortex-Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vortex-Engine/vendor/glfw"]
	path = Vortex-Engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vortex-Engine/vendor/imgui"]
	path = Vortex-Engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
